- name: Ensure sudo is available
  apt:
    name: sudo
    state: present
  become: yes

- name: Make apt noninteractive during chezmoi run
  lineinfile:
    path: /etc/environment
    line: 'DEBIAN_FRONTEND=noninteractive'
    create: yes
  become: yes

- name: Ensure chezmoi prerequisites are present
  apt:
    name:
      - curl
      - git
    state: present
    update_cache: yes
  become: yes

- name: Initialize chezmoi and apply dotfiles
  become: yes
  become_user: "{{ target_user }}"
  environment:
    CHEZMOI_NO_SUDO: "0"
    HOME: "/home/{{ target_user }}"
  shell: |
    set -e
    sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply {{ github_username }}
    echo "Post-chezmoi commands running"
  args:
    chdir: "/home/{{ target_user }}"
  # pty goes here, at task level, *not* under args
  pty: yes



