- name: Render sources.list for release {{ release }}
  template:
    src: "templates/sources-{{ release }}.list.j2"
    dest: /etc/apt/sources.list
  vars:
    release: "{{ release }}"

- name: Upgrade packages to {{ release }}
  apt:
    update_cache: yes
    upgrade: yes
    dist: yes
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Reboot after upgrading to {{ release }}
  reboot:
    msg: "Rebooting after upgrade to {{ release }}"
    reboot_timeout: 300